@charset "UTF-8";

/*
    Paleta de cores
    verde: #47a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    
    
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    

    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

div#formulario {
    display: block;
    border-radius: 10px;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    padding-bottom: 10px;
}

.divlogin {
    text-align: center;
}

.divlogin > #iemail {
    width: 80%;
    box-shadow: 2px 2px 2px solid #5f2c82;
    border-color: #5f2c82;
   
}

#isenha {
    width: 80%;
}

i#personicon {
    background-color: #5f2c82;
    border-radius: 3px;
    
    color: white;
}

.enviar{
    height: 50px;
    width: 100%;
    display: flex;
    margin: auto;
    color: #4BA39D;
    border-radius: 5px;
    border-style: none green;
    border-color: #4BA39D;
    
    
}

#esqueci {
    
}

.enviar:hover {
    background-color: #4BA39D;
    color: white;

}

img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}


